# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node
node_modules/
dist/
.eslintcache

# Database & Local Storage (Cực kỳ quan trọng)
Chroma_DB_WaifuMemory/
**/Chroma_DB_WaifuMemory/
parent_chunks_data/
AudioSave/
*.mp3
*.wav

# Editor
.vscode/
.idea/
*.swp

# OS rác
.DS_Store
Thumbs.db